<div class="sidebar">
  <div class="btn btn-default mt-2 float-end navigator" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="fw-bold logo mb-2 h5"><i class="fa-brands fa-slack"></i> TryApps</a>
  <hr>
  <div id="menu" class="collapse show">
    <a routerLink="/dashboard" routerLinkActive="active" class="h6"><i class="fa-brands fa-windows"></i> Dashboard</a>
    <a routerLink="/news" routerLinkActive="active" class="h6"><i class="fa-regular fa-newspaper"></i> News</a>
    <a href="#contact" class="h6"><i class="fa-regular fa-folder"></i> Files</a>
    <a href="#about" class="h6"><i class="fa-solid fa-comment-sms"></i> Messages</a>
    <a href="#setting" class="h6"><i class="fa-solid fa-gear"></i> Setting</a>
    <a href="#setting" class="h6 logout-sm"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
  </div>
  <hr>
  <div class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> logout</div>
</div>

<div class="content">
<!-- <h2>Responsive Sidebar Example</h2>
<p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
<p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
<h3>Resize the browser window to see the effect.</h3> -->
<!-- <app-dashboard></app-dashboard>   -->
<router-outlet></router-outlet>
</div>

